/* @green: #22b573;
@green-light: #78cba5;
@green-dark: #0d623b;
@text-light: #a4adb7;
@compliment: #ffb452;
@compliment-light: #ffd9a8;
*/
.alert {
  margin-bottom: 0 !important;
}
.btn-primary {
  background-color: #22b573 !important;
  border-color: #1a8a58 !important;
}
.btn-primary:hover {
  background-color: #32d88e !important;
}
html {
  box-sizing: border-box;
  color: #2c3e4c;
}
.form-control {
  margin-bottom: 5px!important;
}
a {
  color: #22b573 !important;
  text-decoration: none;
  background: transparent;
}
a:hover {
  color: #1a8a58 !important;
}
h1 {
  margin: 0;
}
.text-letterpress {
  text-shadow: 0px 2px 1px #555;
}
.text-raised {
  text-shadow: 0px 1px 1px #000;
}
.text-embossed-ondark {
  text-shadow: 0px 1px 0px #ebebeb;
}
.text-embossed-onlight {
  text-shadow: 0px -1px 0px #303030;
}
.text-white {
  color: white;
}
.text-light {
  color: #a4adb7;
}
.text-semi-light {
  color: #808080;
}
.text-primary {
  color: #22b573 !important;
}
.text-primary-light {
  color: #32d88e;
}
.text-primary-dark {
  color: #1a8a58;
}
.text-secondary {
  color: #ff0000;
}
.text-secondary-light {
  color: #ff3333;
}
.text-secondary-dark {
  color: #cc0000;
}
.text-shadowed {
  text-shadow: 0px 0px 2px rgba(150, 150, 150, 0.3);
}
.text-shadowed-large {
  text-shadow: 0px 0px 30px #969696;
}
.text-header {
  text-shadow: 0px 1px 1px #000;
  font-size: 30px;
}
.text-centered {
  text-align: center;
}
.centered,
.section-image .overlay-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.page {
  margin-top: 60px;
}
.dropdown-menu {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
  border: 2px solid #ccc;
  transition: background 0.25s ease-in-out;
  background-color: white;
}
.dropdown-menu:before {
  position: absolute;
  top: -12px;
  left: 9px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  content: '';
}
.dropdown-menu:after {
  position: absolute;
  top: -9px;
  left: 10px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid transparent;
  content: '';
}
.dropdown-menu-right:before {
  position: absolute;
  top: -12px;
  right: 9px;
  left: auto;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  content: '';
}
.dropdown-menu-right:after {
  position: absolute;
  top: -9px;
  right: 10px;
  left: auto;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid transparent;
  content: '';
}
.navigation-bar {
  top: 0;
  left: 0;
  box-shadow: 0px 2px 3px rgba(41, 41, 41, 0.5);
  border-color: #000;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 100;
}
.navigation-bar a {
  color: #2c3e4c;
}
.navigation-bar a:hover {
  color: #22b573;
}
.navigation-bar .logo {
  line-height: 60px;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}
.navigation-bar .links {
  float: right;
  list-style: none;
}
.navigation-bar .links a {
  color: #2c3e4c!important;
}
.navigation-bar .links a:hover {
  color: #22b573 !important;
  text-decoration: none;
}
.navigation-bar .links .link {
  color: #22b573;
  display: inline-block;
  margin-left: 40px;
}
.navigation-bar .links .link > a {
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 60px;
}
.section {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #bbbbbb;
}
.section-dark {
  border-bottom: 1px solid #bbbbbb;
  background-color: #f0f4f5;
}
.section-primary {
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #1a8a58;
  background-color: #22b573;
  color: white;
  box-shadow: inset 0px -2px 3px rgba(41, 41, 41, 0.2);
}
.section-primary a {
  color: white;
}
.section-primary a:hover {
  color: white;
}
.section-image {
  margin: 0;
  background-position: center center;
  background-size: 100%;
}
.section-image .overlay-container {
  background-color: rgba(0, 0, 0, 0.2);
}
.section-image .overlay-text {
  padding-top: 250px;
  padding-bottom: 250px;
  font-size: 80px;
  color: white;
  text-shadow: 0px 0px 14px #000000;
}
.box {
  border-radius: 5px;
  z-index: 90;
  -pie-box-shadow: 0px 0px 5px 1px #D4D8DB;
  -moz-box-shadow: 0px 0px 5px 1px rgba(44, 62, 76, 0.2);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(44, 62, 76, 0.2);
  box-shadow: 0px 0px 5px 1px rgba(44, 62, 76, 0.1);
  border: 1px solid #bbb;
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
}
.box-section {
  overflow: hidden;
  padding: 20px;
  background-color: #fff;
}
.box-section img {
  max-width: 100%;
}
.box-section:nth-child(n+2) {
  border-top: 1px solid #bbbbbb;
}
.box-section:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.box-section:nth-child(even) {
  background-color: #fbfbfb;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.box-section:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.footer {
  padding-top: 40px;
  border-bottom: none;
}
.footer ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.footer ul:nth-child(n+2) {
  margin-top: 5px;
}
.notification {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.notification:hover {
  background-color: #fbfbfb;
}
.notification .messageBox {
  padding: 10px;
  vertical-align: middle;
  display: inline-block;
}
.notification .messageBox .message {
  color: #808080;
}
.notification .messageBox .date {
  color: #a4adb7;
  font-size: 12px;
}
.notification:nth-child(n+2) {
  border-top: 1px solid #ddd;
}
.notification .imageBox {
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
}
.notification .imageBox img {
  max-width: 64px;
  vertical-align: middle;
}
.notification-unread {
  border-right: 4px solid #22b573;
}
.notification-dropdown {
  padding: 10px;
}
.avatar-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.avatar-wrapper img {
  vertical-align: middle;
}
.avatar-wrapper .avatar {
  vertical-align: middle;
  display: inline-block;
  width: 160px;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  background-position: center center;
  background-size: cover;
  border-radius: 160px;
  border: 3px solid rgba(187, 187, 187, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}
.avatar-wrapper .avatar-small {
  vertical-align: middle;
  display: inline-block;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  border: 3px solid rgba(187, 187, 187, 0.4);
}
form .help {
  display: none;
  font-size: 90%;
}
input:focus + .help {
  display: inline;
}
