{% extends 'base.html.twig' %}
{% set page_title = 'Not Found' %}

{% block content %}
<div class="section section-primary">
    <div class="container header-text">
        Install Page
    </div>
</div>
<div class="section section-dark">
    <div class="container">
        Install things.
    </div>
</div>
{% endblock %}

